main {
    display: grid;
    grid-template-columns: 10em 10em 10em;
    grid-gap: 0px;
    margin-top: 0.5em;

}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 6em 6em 6em;
    }
}

app-cell {
    border: 1px gray solid;
    height: 10em;
}

button {
    justify-content: center;
    margin-right: 0.5em;
}

h2 {
    background-color: white;
    color: #0c0b0b;
}
