<!-- flowbite css -->
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css" />

<div class="flex justify-center">
    <div>
        <!-- new game button -->
        <button type="button" (click)="startNewGame()"
            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 ">New
            Game</button>

        <!-- logout button -->
        <button type="button" (click)="logout()"
            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 ">Logout</button>
    </div>

    <!-- score -->
    <h2
        class="flex justify-center text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 ">
        Score: {{ counter }}</h2>

    <!-- current player -->
    <h2
        class="flex justify-center text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 ">
        Turn: {{ this.player() }}</h2>
</div>

<!-- child components -->
<main class="flex justify-center">
    <app-cell [value]="cells[0]" (click)="makeMove(0)">
    </app-cell>
    <app-cell [value]="cells[1]" (click)="makeMove(1)">
    </app-cell>
    <app-cell [value]="cells[2]" (click)="makeMove(2)">
    </app-cell>
    <app-cell [value]="cells[3]" (click)="makeMove(3)">
    </app-cell>
    <app-cell [value]="cells[4]" (click)="makeMove(4)">
    </app-cell>
    <app-cell [value]="cells[5]" (click)="makeMove(5)">
    </app-cell>
    <app-cell [value]="cells[6]" (click)="makeMove(6)">
    </app-cell>
    <app-cell [value]="cells[7]" (click)="makeMove(7)">
    </app-cell>
    <app-cell [value]="cells[8]" (click)="makeMove(8)">
    </app-cell>

</main>

<!-- win modal -->
<div *ngIf="isWin">
    <div id="popup-modal" tabindex="-1"
        class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center flex"
        aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                <!-- close button -->
                <button type="button" (click)="onHide()"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                    data-modal-toggle="popup-modal" data-modal-show="true">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>

                <!-- win modal content -->
                <div class="p-6 text-center">
                    
                    <!-- game status -->
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{{ this.winner }} WON</h3>

                    <!-- new game button -->
                    <button data-modal-toggle="popup-modal" (click)="startNewGame()" type="button"
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        New Game
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- game over modal -->
<div *ngIf="gameOver">
    <div id="game-over-popup" tabindex="-1"
        class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center flex"
        aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                <!-- close button -->
                <button type="button" (click)="onHide()"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                    data-modal-toggle="game-over-popup" data-modal-show="true">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>

                <!-- game over modal content -->
                <div class="p-6 text-center">

                    <!-- game status -->
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">DRAWN</h3>

                    <!-- new game button -->
                    <button data-modal-toggle="game-over-popup" (click)="startNewGame()" type="button"
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        New Game
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>