<!-- flowbite css -->
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css" />

<!-- child components -->
<main class="flex justify-center">
    <app-cell [value]="cells[0]" (click)="makeMove(0)">
    </app-cell>
    <app-cell [value]="cells[1]" (click)="makeMove(1)">
    </app-cell>
    <app-cell [value]="cells[2]" (click)="makeMove(2)">
    </app-cell>
    <app-cell [value]="cells[3]" (click)="makeMove(3)">
    </app-cell>
    <app-cell [value]="cells[4]" (click)="makeMove(4)">
    </app-cell>
    <app-cell [value]="cells[5]" (click)="makeMove(5)">
    </app-cell>
    <app-cell [value]="cells[6]" (click)="makeMove(6)">
    </app-cell>
    <app-cell [value]="cells[7]" (click)="makeMove(7)">
    </app-cell>
    <app-cell [value]="cells[8]" (click)="makeMove(8)">
    </app-cell>
</main>
